<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="dir.folders.length">
      <p>Folders</p>
    </ion-item>
    <ion-item-sliding *ngFor="let folder of dir.folders">
      <ion-item (click)="enter(folder.name)">
          <ion-icon large name="folder" item-start></ion-icon>
          <h2>{{folder.name}}</h2>
          <p>{{util.syncStatusDesc(folder.synchronizationStatus)}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary">
          <ion-icon name="sync" (click)="syncFolder(folder)"></ion-icon>
          Sync
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="dir.files.length">
      <p>Files</p>
    </ion-item>
    <ion-item-sliding *ngFor="let file of dir.files">
      <ion-item>
        <ion-icon large name="document" item-start></ion-icon>
        <h2>{{file.name}}</h2>
        <p>{{util.syncStatusDesc(file.synchronizationStatus)}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="syncFile(file)">
          <ion-icon name="sync"></ion-icon>
          Sync
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
